<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xxxxxxDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF85BF251BD7417E00142410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF85BF3E1BD7417F00142410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF85BF491BD7417F00142410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
